@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100%;

    .container {
        // height: 100vh;
        background-color: rgb(5, 11, 37);

        .nav{
            height: 70px;
            background-color: rgb(3, 7, 25);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 50px;

            .trending{
                font-size: 18px;
                color: #fff;
                font-style: italic;
            }
        }

        .movies{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 10px;

            .amovie{
                width: 250px;
                background-color: rgb(3, 7, 25);
                margin: 8px;

                img{
                    max-width: 100%;
                }

                .infosmovies{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px 15px;

                    .namemovie{
                        font-size: 14px;
                        color: #fff;
                    }

                    .mark{
                        background-color: rgb(5, 11, 37);
                        border: 1px solid transparent;
                        border-radius: 3px;
                        padding: 5px 10px;
                        color: #fff;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
